# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Database temporary files
*.db-journal

# Uploaded user files
uploads/

demo/*.mp4

database/careerpilot.db